@import "tailwindcss";
@import "../shared/theme/colors.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
	font-family: "Bricolage";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(/Bricolage.ttf) format("truetype");
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply m-0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
